@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
body{
    padding: 0;
    margin: 0;
    border: 0; 
    box-sizing: border-box;
    background-image: linear-gradient(#D93B58, #8C1C31);
    font-family: 'Quicksand', sans-serif;
}
img{
    width: 100%;
}
.container{
    display: grid;
    grid-template-rows: 10vh 80vh 10vh ;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo{
    text-decoration: none;
    font-family: 'Staatliches', cursive;
    color: #BFBFBD;
    background-color: #594E40;
    padding-left: 4rem;
    padding-right: 10px;
    font-size: 52px;
}
.link-nav{
    text-decoration: none;
    font-weight: 500;
    color: rgb(241, 241, 241);
    font-size: 22px;
    padding: 1rem;
}

.link-nav:hover{
    color: #8C1C31 ;
}

.nav-bar{
    padding-right: 10rem;
}
h1{
    font-family: 'Staatliches', cursive;
    font-size: 32px;
    padding: 30px 100px;
    color: white;
}
.texto{
    width: 80%;
    height: 70%;
    font-size: 26px;
    padding: 0px 100px;
    color: white;
}
footer{
    /* background-color: greenyellow; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
footer p{
    font-weight: 700;
    padding: 0px 100px;

}
footer a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    padding: 0px 100px;
}